@font-face {
    font-family: 'SFRegular';
    src: url('fonts/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SFBold';
    src: url('fonts/SF-Pro-Text-Bold.otf');
}

@font-face {
    font-family: 'SFSemiBold';
    src: url('fonts/SF-Pro-Display-Semibold.otf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'SFRegular', sans-serif;
    background-color: #323232;
    color: #d7d7d7;
    font-size: 19px;
}

*:focus {
    outline: none;
}

.tool-bar-container {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: 5vh;
}

.main-container {
    display: grid;
    grid-template-columns: auto 360px;
    grid-auto-rows: 88vh;
}

.col-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.col-2 div {
    display: grid;
    grid-template-rows: 20px auto 20px auto;
}

div {
    /* border: 1px solid #2A2A2A; */
}

.footer {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: 5vh;
}

#canvas-area {
    width: 100%;
    height: 100%;
    background-color: #1B1B1B;
    overflow: auto;
}

input {
    padding: 3px;
    margin: 10px;
    background-color: #2A2A2A;
    color: #d7d7d7;
    border-style: none;
    border: 1px solid #3B3B3B;
}

input:focus {
    border: 1px solid #1473E6;
    border-style: solid;
}

input[type=number] {
    width: 90px;
}

label {
    font-size: 14px;
    margin: 10px;
}

.input-group {
    display: grid;
    grid-template-columns: 100px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SFRegular', sans-serif;
    margin: 10px;
}

h6 {
    font-size: 12px;
}

h6 {
    display: inline;
    border-bottom: 1px solid #2A2A2A;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.input-group-l {
    display: grid;
    grid-template-columns: 100px auto;
}

.input-group-l input[type=number] {
    width: 150px;
}

.input-group label,
.input-group-l label {
    font-size: 13px;
    margin-left: 25px;
}

.col-2 div input {
    width: 150px;
}

#canvas-area #canvas-page {
    position: relative;
    background: #fff;
}

#page-margin-left {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    background-color: #f9f0f0;
}

#page-margin-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    background-color: #f9f0f0;
}

#page-margin-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background-color: #f9f0f0;
}

#page-margin-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background-color: #f9f0f0;
}

#number-box-1 {
    position: absolute;
}

#font-color {
    height: 40px;
}

#page-properties {
    overflow: auto;
}

section#toggle-numbering,
section#toggle-text-format,
section#toggle-append,
section#toggle-margins,
section#toggle-stepping {
    border-bottom: 1px solid #2A2A2A;
    display: none;
}

.chevron {
    height: 11px;
    cursor: pointer;
    margin-left: 10px;
}

div>span {
    color: #707070;
    font-size: 14px;
}

#numbering,
#text-format,
#append,
#margins {
    cursor: pointer;
}

.collapsible-trigger {
    margin: 10px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #2A2A2A;
    cursor: pointer;
}

.collapsible-trigger span:hover {
    color: #ffffff;
}